USE [master]
GO
/****** Object:  Database [HotelBookingDB]    Script Date: 4/18/2026 3:06:45 AM ******/
CREATE DATABASE [HotelBookingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelBookingDB', FILENAME = N'E:\IsDB\SQL Server install\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelBookingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelBookingDB_log', FILENAME = N'E:\IsDB\SQL Server install\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelBookingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelBookingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelBookingDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookedRooms]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookedRooms](
	[BookedRoomId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[PricePerNight] [money] NOT NULL,
	[Nights] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BookedRooms] PRIMARY KEY CLUSTERED 
(
	[BookedRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[GuestId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[GuestId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](60) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](80) NULL,
	[Address] [nvarchar](200) NULL,
	[PhotoPath] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Guests] PRIMARY KEY CLUSTERED 
(
	[GuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomCategories]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomCategories](
	[RoomCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.RoomCategories] PRIMARY KEY CLUSTERED 
(
	[RoomCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [nvarchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[PricePerNight] [money] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RoomTypeId] [int] NOT NULL,
	[RoomCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.RoomTypes] PRIMARY KEY CLUSTERED 
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'29bb743e-874b-492a-9c4d-a30fac326b78', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'79697ff2-f6e1-4de9-ae57-41497d09b29d', N'Staff')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2e19d164-34d0-4503-9ad5-6b35d0c7e140', N'29bb743e-874b-492a-9c4d-a30fac326b78')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1341335d-208a-483b-9e50-c4f34f6b7ddd', N'jahid@gmail.com', 0, N'AH1fsI2DyFffXtk/Z7wL1l8cY/8kERqMVYWsSfKcxvPJXcYu5HG+B7gVz0eI6ji4XA==', N'96eea770-252d-4f59-927f-30925c46eba3', NULL, 0, 0, NULL, 1, 0, N'jahid@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'19884092-0684-40e7-9374-0622e377a0ed', N'sumon01@gmail.com', 0, N'AIVeyJyQHvRFgZQ+UIHBR/Py5FUYrFxAPkM0edZZ1dY89rheK031Bb6T6jBcq9HE5A==', N'21303592-bf2d-42d7-8e5b-43b2c629f1e0', NULL, 0, 0, NULL, 1, 0, N'sumon01@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2914a40f-8484-4554-9670-b718ff810dcf', N'mazedtalokdarofficial@gmail.com', 0, N'AEejZeZztAxV0QswU/7D91fqKbCYrgcspxdtfBh+TaJwom8glvAquKPme68CXL9IiA==', N'1b2304c0-67a4-4ce5-aa4b-35ad54d8ac4f', NULL, 0, 0, NULL, 1, 0, N'mazedtalokdarofficial@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[BookedRooms] ON 

INSERT [dbo].[BookedRooms] ([BookedRoomId], [BookingId], [RoomId], [PricePerNight], [Nights]) VALUES (1009, 1003, 3, 1500.0000, 2)
INSERT [dbo].[BookedRooms] ([BookedRoomId], [BookingId], [RoomId], [PricePerNight], [Nights]) VALUES (1010, 1003, 1, 1560.0000, 2)
INSERT [dbo].[BookedRooms] ([BookedRoomId], [BookingId], [RoomId], [PricePerNight], [Nights]) VALUES (1011, 1003, 2, 3500.0000, 2)
SET IDENTITY_INSERT [dbo].[BookedRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [CheckInDate], [CheckOutDate], [Status], [Notes], [GuestId]) VALUES (1003, CAST(N'2026-01-19' AS Date), CAST(N'2026-01-20' AS Date), 0, N'gsgfgf', 1007)
INSERT [dbo].[Bookings] ([BookingId], [CheckInDate], [CheckOutDate], [Status], [Notes], [GuestId]) VALUES (1004, CAST(N'2026-01-27' AS Date), CAST(N'2026-01-30' AS Date), 0, N'fsgcnbv h', 3)
INSERT [dbo].[Bookings] ([BookingId], [CheckInDate], [CheckOutDate], [Status], [Notes], [GuestId]) VALUES (1005, CAST(N'2026-01-27' AS Date), CAST(N'2026-01-29' AS Date), 0, N'Good Day', 1005)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([GuestId], [FullName], [Phone], [Email], [Address], [PhotoPath]) VALUES (3, N'Jahid1', N'01400000111', N'jahid1hasan@gmail.com', N'Jatrabari', N'/Uploads/Guests/61083646-69eb-4da4-b732-1b74c6ae623c.jpg')
INSERT [dbo].[Guests] ([GuestId], [FullName], [Phone], [Email], [Address], [PhotoPath]) VALUES (1005, N'Sawon', N'01571150215', N'sawon@gmail.com', N'Dhaka, Bangladesh', N'/Uploads/Guests/056adfb2-2098-4406-8e68-76089d1299a1.png')
INSERT [dbo].[Guests] ([GuestId], [FullName], [Phone], [Email], [Address], [PhotoPath]) VALUES (1006, N'habib', N'01511110000', N'habib@gmail.com', N'Dhaka, Bangladesh', N'/Uploads/Guests/215c327a-6cba-453a-a602-b5dac7e82fc1.jpg')
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomCategories] ON 

INSERT [dbo].[RoomCategories] ([RoomCategoryId], [CategoryName]) VALUES (1, N'Standard')
INSERT [dbo].[RoomCategories] ([RoomCategoryId], [CategoryName]) VALUES (2, N'Deluxe')
INSERT [dbo].[RoomCategories] ([RoomCategoryId], [CategoryName]) VALUES (3, N'Premium')
SET IDENTITY_INSERT [dbo].[RoomCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomNo], [Capacity], [PricePerNight], [IsActive], [RoomTypeId], [RoomCategoryId]) VALUES (1, N'A-101', 6, 1560.0000, 1, 3, 1)
INSERT [dbo].[Rooms] ([RoomId], [RoomNo], [Capacity], [PricePerNight], [IsActive], [RoomTypeId], [RoomCategoryId]) VALUES (2, N'A-102', 2, 3500.0000, 1, 2, 3)
INSERT [dbo].[Rooms] ([RoomId], [RoomNo], [Capacity], [PricePerNight], [IsActive], [RoomTypeId], [RoomCategoryId]) VALUES (3, N'A-103', 1, 1500.0000, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeId], [TypeName]) VALUES (1, N'Single')
INSERT [dbo].[RoomTypes] ([RoomTypeId], [TypeName]) VALUES (2, N'Double')
INSERT [dbo].[RoomTypes] ([RoomTypeId], [TypeName]) VALUES (3, N'Suite')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookingId]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_BookingId] ON [dbo].[BookedRooms]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomId]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoomId] ON [dbo].[BookedRooms]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GuestId]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_GuestId] ON [dbo].[Bookings]
(
	[GuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomCategoryId]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoomCategoryId] ON [dbo].[Rooms]
(
	[RoomCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomTypeId]    Script Date: 4/18/2026 3:06:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoomTypeId] ON [dbo].[Rooms]
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BookedRooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookedRooms_dbo.Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookedRooms] CHECK CONSTRAINT [FK_dbo.BookedRooms_dbo.Bookings_BookingId]
GO
ALTER TABLE [dbo].[BookedRooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookedRooms_dbo.Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookedRooms] CHECK CONSTRAINT [FK_dbo.BookedRooms_dbo.Rooms_RoomId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bookings_dbo.Guests_GuestId] FOREIGN KEY([GuestId])
REFERENCES [dbo].[Guests] ([GuestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_dbo.Bookings_dbo.Guests_GuestId]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.RoomCategories_RoomCategoryId] FOREIGN KEY([RoomCategoryId])
REFERENCES [dbo].[RoomCategories] ([RoomCategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.RoomCategories_RoomCategoryId]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.RoomTypes_RoomTypeId] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomTypes] ([RoomTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.RoomTypes_RoomTypeId]
GO
/****** Object:  StoredProcedure [dbo].[spBookedRoom_DeleteByBookingId]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spBookedRoom_DeleteByBookingId]
    @BookingId INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM BookedRooms WHERE BookingId = @BookingId;
END
GO
/****** Object:  StoredProcedure [dbo].[spBookedRoom_Insert]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spBookedRoom_Insert]
    @BookingId INT,
    @RoomId INT,
    @PricePerNight MONEY,
    @Nights INT
AS
BEGIN
    INSERT INTO BookedRooms (BookingId, RoomId, PricePerNight, Nights)
    VALUES (@BookingId, @RoomId, @PricePerNight, @Nights)
END
GO
/****** Object:  StoredProcedure [dbo].[spBooking_Delete]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spBooking_Delete]
    @BookingId INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Bookings WHERE BookingId = @BookingId;
END
GO
/****** Object:  StoredProcedure [dbo].[spBooking_Update]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spBooking_Update]
    @BookingId    INT,
    @GuestId      INT,
    @CheckInDate  DATE,
    @CheckOutDate DATE,
    @Notes        NVARCHAR(200),
    @Status       INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Bookings
    SET GuestId = @GuestId,
        CheckInDate = @CheckInDate,
        CheckOutDate = @CheckOutDate,
        Notes = @Notes,
        Status = @Status
    WHERE BookingId = @BookingId;
END
GO
/****** Object:  StoredProcedure [dbo].[spGuest_Delete]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGuest_Delete]
    @GuestId INT
AS
BEGIN
    DELETE FROM Guests WHERE GuestId = @GuestId
END
GO
/****** Object:  StoredProcedure [dbo].[spGuest_Insert]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spGuest_Insert]
    @FullName    NVARCHAR(60),
    @Phone       NVARCHAR(20),
    @Email       NVARCHAR(80),
    @Address     NVARCHAR(200),
    @PhotoPath   NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Guests (FullName, Phone, Email, Address, PhotoPath)
    VALUES (@FullName, @Phone, @Email, @Address, @PhotoPath);
END
GO
/****** Object:  StoredProcedure [dbo].[spGuest_List]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGuest_List]
AS
BEGIN
    SELECT * FROM Guests
END
GO
/****** Object:  StoredProcedure [dbo].[spGuest_Update]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spGuest_Update]
    @GuestId     INT,
    @FullName    NVARCHAR(60),
    @Phone       NVARCHAR(20),
    @Email       NVARCHAR(80),
    @Address     NVARCHAR(200),
    @PhotoPath   NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Guests
    SET FullName = @FullName,
        Phone = @Phone,
        Email = @Email,
        Address = @Address,
        PhotoPath = @PhotoPath
    WHERE GuestId = @GuestId;
END
GO
/****** Object:  StoredProcedure [dbo].[spRoom_Delete]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRoom_Delete]
    @RoomId INT
AS
BEGIN
    DELETE FROM Rooms WHERE RoomId = @RoomId
END
GO
/****** Object:  StoredProcedure [dbo].[spRoom_Insert]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRoom_Insert]
    @RoomNo NVARCHAR(20),
    @Capacity INT,
    @PricePerNight MONEY,
    @RoomTypeId INT,
    @RoomCategoryId INT
AS
BEGIN
    INSERT INTO Rooms (RoomNo, Capacity, PricePerNight, IsActive, RoomTypeId, RoomCategoryId)
    VALUES (@RoomNo, @Capacity, @PricePerNight, 1, @RoomTypeId, @RoomCategoryId)
END
GO
/****** Object:  StoredProcedure [dbo].[spRoom_List]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRoom_List]
AS
BEGIN
    SELECT * FROM Rooms
END
GO
/****** Object:  StoredProcedure [dbo].[spRoom_Update]    Script Date: 4/18/2026 3:06:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRoom_Update]
    @RoomId INT,
    @RoomNo NVARCHAR(20),
    @Capacity INT,
    @PricePerNight MONEY,
    @IsActive BIT,
    @RoomTypeId INT,
    @RoomCategoryId INT
AS
BEGIN
    UPDATE Rooms
    SET RoomNo = @RoomNo,
        Capacity = @Capacity,
        PricePerNight = @PricePerNight,
        IsActive = @IsActive,
        RoomTypeId = @RoomTypeId,
        RoomCategoryId = @RoomCategoryId
    WHERE RoomId = @RoomId
END
GO
USE [master]
GO
